<div class="col-12">
  <h3 *ngIf="car" style="margin-top:30px">{{car.name}}</h3>

  <hr style="margin-bottom:30px">

  <div class="row" *ngIf="car">
    <div class="col-12">
      <span class="title">Цвет: {{car.color}}</span>
    </div>
    <div class="col-12">
      <span class="title">Описание: {{car.description}}</span>
    </div>
    <div class="col-12">
      <span class="title">Год: {{car.year}}</span>
    </div>
  </div>

  <hr style="margin-top:30px">

  <button *ngIf="car"
    class="btn btn-xs btn-success"
    [routerLink]="['/update', car.id]">
    Изменить
  </button>

</div>


